@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  --shimmer: #a2a2a2;
  --shimmer-highlight: #d2d2d2;
  background-image: linear-gradient(
    -90deg,
    var(--shimmer) 0%,
    var(--shimmer-highlight) 50%,
    var(--shimmer) 100%
  );
  background-size: 200% 200%;
}

.product-content-grid {
  grid-template-areas:
    'image'
    'actions'
    'details';
  grid-template-columns: auto;
}

@media (min-width: 48em) {
  .product-content-grid {
    grid-template-areas:
      'image image actions'
      'details details actions';
    grid-template-columns: fit 1fr auto;
  }
}

@media (min-width: 60em) {
  .product-content-grid {
    grid-template-areas: 'image details actions';
    grid-template-columns: fit 1fr auto;
  }
}

.product-image {
  grid-area: image;
}

.product-details {
  grid-area: details;
}

.product-actions {
  grid-area: actions;
}

.navbar-content-grid {
  grid-template-areas: 'logo search nav';
  grid-template-columns: auto 1fr 0%;
  overflow: hidden;
}

.navbar-logo {
  grid-area: logo;
}

.navbar-search {
  grid-area: search;
}

.navbar-nav {
  grid-area: nav;
  visibility: hidden;
}

@media (min-width: 30em) {
  .navbar-content-grid {
    grid-template-areas: 'logo search nav';
    grid-template-columns: auto 1fr 0%;
  }

  .navbar-search {
    visibility: visible;
  }
}

@media (min-width: 40em) {
  .navbar-content-grid {
    grid-template-areas: 'logo search nav';
    grid-template-columns: auto 1fr auto;
  }

  .navbar-nav {
    visibility: visible;
  }
}
