@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer {
  --shimmer: #a2a2a2;
  --shimmer-highlight: #d2d2d2;
  background-image: linear-gradient(
    -90deg,
    var(--shimmer) 0%,
    var(--shimmer-highlight) 50%,
    var(--shimmer) 100%
  );
  background-size: 200% 200%;
}

.product-content-grid {
  grid-template-areas:
    'image'
    'actions'
    'details';
  grid-template-columns: auto;
}

@media (min-width: 48em) {
  .product-content-grid {
    grid-template-areas: 'image details actions';
    grid-template-columns: fit 1fr auto;
  }
}

.product-image {
  grid-area: image;
}

.product-details {
  grid-area: details;
}

.product-actions {
  grid-area: actions;
}
